<%workout_number = "a number"%>
<%current_user.workouts.each_with_index do |workout, index|%>
 <%if workout.description == @workout.description%>
    <%workout_number = index + 1%>
    <%end%>
  <%end%>

<h1>Edit workout #<%=workout_number%></h1>
<%= form_for @workout do |f|%>
  <%=f.label :description%>
  <%=f.text_field :description%>
  </br>
  <%= f.label :intensity%>
  <%=f.select :intensity, options_for_select([nil, "low", "medium", "high"])%></br>
  <%=f.submit "Update workout"%></br>
  <%=link_to "Add an exercise to this workout", new_exercise_path%>
<%end%>
