<h1>Create a new workout</h1>
<%= form_for @workout do |f|%>
  <%=f.label :description%>
  <%=f.text_field :description%>
  <br></br>
  <%=f.label :date_performed%>
  <%=f.date_field :date_performed%>
  <br></br>
  <%=f.submit "Create workout"%>
<%end%>
