<%= render partial: "layouts/errors", locals: { object: @workout } %>

<h1>Create a new workout</h1>
<%= form_for @workout do |f|%>
  <%=f.label :description%>
  <%=f.text_field :description%>
  </br>
  <%= f.label :intensity%>
  <%=f.select :intensity, options_for_select([nil, "low", "medium", "high"])%></br>

  <%=f.submit "Create workout"%>
<%end%>
