
<%workout_number = "a number"%>
<%current_user.created_workouts.each_with_index do |workout, index|%>
 <%if workout.description == @workout.description%>
    <%workout_number = index + 1%>
  <%end%>
<%end%>
<h1> Workout #: <%=workout_number%></h1>
<strong>Workout description:</strong> <%=@workout.description%></br>
<strong>Workout intensity:</strong> <%=@workout.intensity%></br>
<strong>Exercises:</strong>
<%@workout.exercises.each do |exercise|%>
  name: <%=exercise.name%></br>
  sets, reps & weights: <%=exercise.sets_reps_weights%></br>
  <%time = exercise.date_performed%>
  date performed: <%=time.month%>/<%=time.day%>/<%=time.year%></br></br>
  <%end%>

<%=link_to "Add an exercise to this workout", new_exercise_path%>
