
<%current_user_workout_number = "a number"%>
<%current_user.workouts.each_with_index do |workout, index|%>
 <%if workout.description == @workout.description%>
    <%current_user_workout_number = index + 1%>
  <%end%>
<%end%>

<%other_user_workout_number = "a number"%>
<%Workout.all.each do |workout|%>
  <%if workout.description == @workout.description%>
  <%user = User.find(workout.user_id)%>
  <%user.workouts.each_with_index do |w, index|%>
    <%if w.description == @workout.description%>
      <%other_user_workout_number = index + 1%>
      <%end%>
    <%end%>
  <%end%>
<%end%>


<%if current_user.id == @workout.user_id%>
  <h1> <%=current_user.username%>'s Workout #: <%=current_user_workout_number%></h1>
  <%else%> <h1> Workout #: <%=other_user_workout_number%>, of <%=@workout.user.username%></h1>
  <%end%>

<strong>Workout description:</strong> <%=@workout.description%></br>
<strong>Workout intensity:</strong> <%=@workout.intensity%></br>
<strong>Exercises:</strong>
<%@workout.workout_exercises.each do |exercise|%>
  <ul>
    <li><i>name:</i> <%=exercise.name%></li>
    <li><i>sets, reps & weights:</i> <%=exercise.sets_reps_weights%></li>
    <%time = exercise.date_performed%>
    <li><i>date performed:</i> <%=exercise.simplified_date_performed%></li></br></br>
    </ul>
    <%end%>


<%=link_to "Add an exercise to this workout", new_exercise_path%>
