
<%if params[:workout_id]%>
  <h1> All Exercises for <i><%=@workout.description%></i></h1>
<%else%>
  <h1> All Exercises for <%current_user.username%> </h1>
<%end%>
<%@exercises.each do |exercise|%>
  <strong>Name: </strong><%=exercise.name%></br>
  <ul>
    <li><strong>Sets, reps, and weights: </strong><%=exercise.sets_reps_weights%></li>
    <%t = exercise.date_performed%>
    <li><strong>Date performed: </strong><%=t.month%>/<%=t.day%>/<%=t.year%></li>
    <li><strong>Workout: </strong><%=exercise.workout.description%></li>
    <li><strong>Goal: </strong><%=exercise.goal.description%></li>
  </ul>
  <%if current_user.created_workouts.include?(exercise.workout)%>
      <%= link_to "Edit this exercise", edit_exercise_path(exercise)%></br>
      <%= button_to "Delete this exercise", exercise_path(exercise), method: :delete%></br></br>
    <%end%>
  <%end%>
