<%if @exercise.errors.any?%>
  <h3>There was a problem with the last attempted update:</h3>
  <ul>
    <%@exercise.errors.full_messages.each do |message|%>
    <li><%=message%></li>
    <%end%>
    </ul>
  <%end%>

<h1>Record an exercise</h1>

<%=form_for @exercise do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>
  </br></br>
  <%=f.label :date_performed%>
  <%=f.date_field :date_performed%>
  </br></br>
  <%=f.label :sets_reps_weights%>
  <%=f.text_area :sets_reps_weights, :size => 150%>
  </br></br>
  <%=f.label :goal_id%>
  <%=f.collection_select :goal_id, current_user.goals, :id, :description%>
  </br></br>
<%if @workout%>
  <strong>Workout: </strong><%=@workout.description%>
  <%= f.hidden_field :workout_id%>
<%else%>
    <%=f.label :workout_id, "Select a workout"%>
    <%=f.collection_select :workout_id, Workout.all, :id, :description, include_blank: true%>
  <%end%>
  </br></br>
  <%if !params[:workout_id]%>
  <h3>Or create a new workout for this exercise</h3>
    <%=f. fields_for :workout do |w|%>
      <%=w.label :description%>
      <%=w.text_field :description%>
      </br>
      <%= w.label :intensity%>
      <%=w.select :intensity, options_for_select([nil, "low", "medium", "high"])%>
      </br>
      <%=w.hidden_field :user_id, value: current_user.id%>
      <%end%>
  <%end%>
  </br></br>
  <%=f.submit "Record exercise"%>
<%end%>
