<h1>Exercise information</h1>
<strong>Name:</strong> <%=@exercise.name%></br>
<ul>
<li><strong>Sets: Reps @ Weights:</strong> <%=@exercise.sets_reps_weights%></li>
<li><strong>Date performed:</strong> <%=@exercise.simplified_date_performed%></li>
<li><strong>Workout:</strong> <%=@workout.description%></li>
<li><strong>Goal:</strong> <%=@exercise.goal.description%></li>
</ul>
<%if current_user.workouts.include?(@exercise.workout)%>
  <%=link_to "Edit this exercise", edit_exercise_path(@exercise)%></br>
  <%= button_to "Delete this exercise", exercise_path(@exercise), method: :delete%></br>
<%end%>
