<h1>Exercise information</h1>

Workout: <%=@workout.description%></br>
Goal: <%=@exercise.goal.description%></br>
Name: <%=@exercise.name%></br>
Sets => Reps @ Weights: <%=@exercise.sets_reps_weights%></br>
<%t = @exercise.date_performed%>
Date performed: <%=t.month%>/<%=t.day%>/<%=t.year%></br>
