<h1>Exercise information</h1>
<strong>Name:</strong> <%=@exercise.name%></br>
<strong>Sets: Reps @ Weights:</strong> <%=@exercise.sets_reps_weights%></br>
<%t = @exercise.date_performed%>
<strong>Date performed:</strong> <%=t.month%>/<%=t.day%>/<%=t.year%></br>
<strong>Workout:</strong> <%=@workout.description%></br>
<strong>Goal:</strong> <%=@exercise.goal.description%></br>
<%=link_to "Edit this exercise", edit_exercise_path(@exercise)%></br>
<%= button_to "Delete this exercise", exercise_path(@exercise), method: :delete%></br>
