<h1>Exercise information</h1>
Workout: <%=@exercise.workout.description%></br>
Goal: <%=@exercise.goal.description%></br>
Name: <%=@exercise.name%></br>
Sets => Reps @ Weights: <%=@exercise.sets_reps_weights%></br>
Date performed: <%=@exercise.date_performed%></br>
